doctype html
html
  head
    meta(http-equiv='cache-control' content='no-cache, no-store, must-revalidate')
    meta(http-equiv='expires' content='0')
    meta(http-equiv='pragma' content='no-cache')
    style
      include ../public/css/style.css
    title Desafio
  body

    include form.pug
    include listaCom.pug
    script
      include js/script.js

  
