doctype html
html
  head
    meta(http-equiv="cache-control" content="no-cache")
    style
      include ../public/css/style.css
    title Desafio
  body

    include form.pug
    include listaCom.pug
    //include teste.html
    script
      include ../script.js
      
