doctype html
html
  head
    title= `${title}`
    
  body
    
      h1 My Amazing App

    form(action="." method="POST")
      label(for="texto") Comentario:
      input(
        type="text"
        id="texto"
        name="texto"
      )
      input(type="submit" value="Cadastrar")
